.advertisement {
  padding-bottom: 17px;
}

.advertisement__block {
  // display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }
}

.test {
  @media screen and (min-width: 768px) {
    display: flex;
    // align-items: flex-start;
    width: 455px;
    padding: 42px 0 32px 40px;
  }
}

.advertisement__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: normal;
  margin-bottom: 16px;
  @media screen and (min-width: 375px) {
    font-size: 28px;
    margin-bottom: 18px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 24px;
  }
}

.advertisement__article {
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 0.5px;
  @media screen and (min-width: 375px) {
    font-size: 16px;
    letter-spacing: 0.1px;
  }
}

.container-advertisement {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 39px;
  margin-bottom: 34px;
  @media screen and (min-width: 768px) {
    margin: 0;
  }
}

.advertisement__img {
  width: 100%;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.advertisement__img-tab {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }
}

.advertisement__btn {
  width: 100%;
  background-color: #fc3232;
  padding: 14px;
  font-size: 15px;
  color: inherit;
  line-height: 1.4;
  @media screen and (min-width: 375px) {
    font-size: 15px;
    padding: 15px 14px;
  }
  @media screen and (min-width: 768px) {
    width: 292px;
    margin: 0;
    margin-bottom: 101px;
  }
}
.devices {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 64px;
    justify-content: center;
  }
}

.devices__top {
  display: flex;
  gap: 32px;
  justify-content: center;
  @media screen and (min-width: 768px) {
    gap: 64px;
  }
}

.devices__secondary {
  display: flex;
  gap: 24px;
  justify-content: center;
  @media screen and (min-width: 768px) {
    gap: 64px;
  }
}
