.chanels__block {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
}

.chanels {
  position: relative;
  margin-top: 26px;
}

.chanels__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 8px;
  @media screen and (min-width: 375px) {
    font-size: 28px;
  }
  @media screen and (min-width: 768px) {
    font-size: 30px;
    margin-bottom: 16px;
  }
  @media screen and (min-width: 990px) {
    font-size: 36px;
  }
}

.ticets {
  position: absolute;
  top: -28px;
  @media screen and (min-width: 375px) {
    top: -22px;
  }
  @media screen and (min-width: 768px) {
    top: -22px;
    left: 180px;
  }
  @media screen and (min-width: 990px) {
    top: -25px;
    left: 220px;
  }
}

.chanels__article {
  font-size: 15px;
  line-height: 1.5;
  @media screen and (min-width: 375px) {
    font-size: 16px;
    letter-spacing: normal;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 33px;
    width: 510px;
  }
  @media screen and (min-width: 990px) {
    margin-bottom: 33px;
    width: 626px;
  }
}

.category-select {
  margin: 24px auto;
  width: 100%;
  @media screen and (min-width: 375px) {
    margin: 32px auto;
  }
  @media screen and (min-width: 768px) {
    padding: 0;
    margin: 0 0 41px 0;
  }
  @media screen and (min-width: 990px) {
    padding: 0;
    margin: 0 0 53px 0;
  }
}

.select__field {
  width: 100%;
  padding: 14px;
  border-radius: 5px;
  background-color: #fc3232;
  font-size: 15px;
  color: var(--primary-text-color);
  cursor: pointer;
  @media screen and (min-width: 768px) {
    width: 300px;
    text-align: left;
    display: block;
    font-size: 16px;
  }
}

.chanels__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 16px;
  margin-bottom: 19px;
  @media screen and (min-width: 375px) {
    margin-bottom: 26px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 28px;
  }
}

.chanels__item {
  width: calc((100% - 32px) / 3);
  border: 1px solid #c6c6c8;
  overflow: hidden;
  border-radius: 5px;
  @media screen and (min-width: 375px) {
    width: calc((100% - 33px) / 3);
  }
  @media screen and (min-width: 768px) {
    width: calc((100% - 66px) / 4);
  }
   @media screen and (min-width: 990px) {
    width: calc((100% - 90px) / 5);
  }
}

.is__hidden {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }
}

.is__hidden-tab {
  display: none;
  @media screen and (min-width: 990px) {
    display: block;
  }
}

.chanels__item img {
  width: 100%;
  height: auto;
  display: block;
}

.show_all {
  display: flex;
  justify-content: flex-end;
}

.show__all-link {
  color: var(--primary-text-color);
}

.chek__icon {
  fill: #fc3232;
  width: 14px;
  height: 14px;
  margin-left: 8px;
}
