.footer {
  background-image: url("../images/footer-mob.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  @media screen and (min-width: 768px) {
    background-image: url("../images/footer-tab.png");
  }
  @media screen and (min-width: 990px) {
    background-image: url("../images/footer-dt.png");
  }
}

.footer__contant {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}

.about {
  margin-bottom: 32px;
  @media screen and (min-width: 375px) {
    display: flex;
    gap: 31px;
  }
  @media screen and (min-width: 1440px) {
    display: flex;
    gap: 110px;
  }
}

.about__list {
  display: flex;
  row-gap: 8px;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 8px;
  @media screen and (min-width: 375px) {
    text-align: left;
    margin-bottom: 0;
  }
  @media screen and (min-width: 768px) {
    width: 156px;
  }
}

.about__link {
  color: var(--primary-text-color);
  line-height: 1.4;
  letter-spacing: normal;
  opacity: 0.8;
  transition: all var(--transition-time);
}

.about__link:hover,
.about__link:focus {
  color: var(--accent-color);
}

.address__info {
  @media screen and (min-width: 375px) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}

.address__tab {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    width: 186px;
  }
}

.address__title {
  text-align: left;
  display: block;
  margin-bottom: 18px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  @media screen and (min-width: 375px) {
  }
}

.address__list {
  display: flex;
  row-gap: 8px;
  flex-direction: column;
  align-items: flex-start;
  @media screen and (min-width: 375px) {
    text-align: left;
  }
}

.address__list:not(:last-child) {
  margin-bottom: 16px;
}

.address__list > :last-child {
  @media screen and (min-width: 375px) {
    text-align: right;
  }
}

.addres__link {
  color: var(--primary-text-color);
  font-size: 14px;
  font-style: normal;
  line-height: 1.4;
  opacity: 0.8;
  transition: all var(--transition-time);
}

.addres__link:hover,
.addres__link:focus {
  color: var(--accent-color);
}

.chat__title {
  text-align: left;
  display: block;
  line-height: 1.4;
  font-style: normal;
  opacity: 0.8;
  @media screen and (min-width: 375px) {
    margin-bottom: 8px;
  }
}

.chat__list {
  display: flex;
  gap: 16px;
  margin-bottom: 32px;
  @media screen and (min-width: 375px) {
    justify-content: flex-end;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: flex-start;
  }
}

.chat__item {
  transition: all var(--transition-time);
}

.chat__item:hover,
.chat__itemk:focus {
  transform: scale(1.2);
}

.pay__variants {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin-bottom: 32px;
  @media screen and (min-width: 768px) {
    gap: 16px;
    justify-content: flex-start;
  }
}

.dev__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 20px;
    justify-content: flex-end;
  }
}

.dev__info-text {
  font-size: 11px;
  line-height: 1.4;
  opacity: 0.8;
}
