.header {
  padding-bottom: 8px;
  width: 100%;
  @media screen and (min-width: 375px) {
    padding-bottom: 16px;
  }
  @media screen and (min-width: 768px) {
    padding-bottom: 23px;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__logo {
  width: 56px;
  height: 56px;
  @media screen and (min-width: 768px) {
    width: 64px;
    height: 64px;
  }
  @media screen and (min-width: 990px) {
    width: 72px;
    height: 65px;
  }
}

.controls {
  display: flex;
  gap: 24px;
  align-items: center;
}

.socials {
  display: flex;
  gap: 48px;
}

.socials__list {
  @media screen and (max-width: 768px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 24px;
  }
}

.socials__icon {
  width: 24px;
  height: 24px;
}

.socials__icon use {
  fill: var(--primary-text-color);
}

.navigation__btn {
  padding: 9px 24px;
  font-size: 16px;
  color: #ffffff;
  font-weight: 500;
  background: transparent;
  outline: none;
  border-radius: 5px;
  border: 2px solid #ffffff;
}

.navigation__btn-signup {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    background: transparent;
    outline: none;
    border: none;
  }
}
