.pockets__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url("../images/frame-mob-1.png");
  background-size: 90% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 12px;
  padding: 20px 0;
  @media screen and (min-width: 375px) {
    background-image: url("../images/frame-mob-2.png");
  }
  @media screen and (min-width: 768px) {
    background-image: url("../../images/frame-tab-1.png");
  }
  @media screen and (min-width: 990px) {
    background-image: url("../../images/frame-tab-2.png");
  }
  @media screen and (min-width: 1440px) {
    background-image: url("../../images/frame-dt-1.png");
  }
}

.pockets__icon-top {
  @media screen and (min-width: 768px) {
    width: 46px;
    height: 58px;
  }
  @media screen and (min-width: 990px) {
    width: 50px;
    height: 62px;
  }
}

.pockets {
  @media screen and (min-width: 768px) {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    margin-bottom: 40px;
  }
}

.pockets__article {
  display: flex;
  font-size: 15px;
  line-height: 1.4;
  margin-top: 24px;
  margin-bottom: 24px;
  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
  @media screen and (min-width: 990px) {
    font-size: 18px;
  }
}

.price {
  color: red;
  font-size: 52px;
  font-weight: 900;
  margin-top: 20px;
}

.money {
  font-size: 15px;
}

.pockets__list {
  margin-bottom: 24px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    gap: 18px;
    font-size: 16px;
    font-weight: 500;
  }
  @media screen and (min-width: 990px) {
    font-size: 18px;
  }
}

.pockets__item {
  display: flex;
  gap: 20px;
  align-items: center;
}

.pockets__icon {
  width: 20px;
  height: 20px;
  fill: yellow;
}

.submit__form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  text-align: center;
  @media screen and (min-width: 990px) {
    flex-direction: row;
    gap: 0;
    // align-items: center;
  }
}

.mail__box {
  width: 100%;
  padding: 14px;
  font-size: 15px;
  color: black;
  @media screen and (min-width: 768px) {
    font-size: 17px;
  }
  @media screen and (min-width: 990px) {
    font-size: 18px;
    padding: 16px 28;
    height: 58px;
    border-top-right-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 5px;
  }
}

.submit__btn {
  border-radius: 5px;
  @media screen and (min-width: 990px) {
    margin-bottom: 0;
    border-top-right-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 0;
    transition: all var(--transition-time);
  }
}

.submit__btn:hover,
.submit__btn:focus {
  background-color: transparent;
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}
